body {
    width: 100%;
    margin-left: 50px;
}

@media screen and (min-width: 700px){
    body {
        width: 100%;
        margin-left: 270px;
    }
}

div.puzzle-image {
    display: block;
    background-image: url("img/panda.jpg");
    background-size: 100%;
    width: 408px;
    height: 408px;
    margin-bottom: 30px;
}

div.puzzle-panel {
    display: inline-block;
    background-color: snow;
    margin: 2px;
    padding: 1px;
    font-size: 0; /*remove the inline-block white space*/
}
div.puzzle-row {
    margin: 0px;
    padding: 0px;
}
div.puzzle-panel div.puzzle-cell {
    display: inline-block;
    margin: 0px;
    font-size: 20px;
    background-color: orange;
    border: solid 1px orange;
    width: 100px;
    height: 100px;
    overflow: auto;
}

div.puzzle-panel div.puzzle-cell:hover {
    -webkit-box-shadow: 10px 0px 10px 100px rgba(255, 255, 255, .35) inset;
    box-shadow: 0px 0px 0px 100px rgba(255, 255, 255, .35) inset;
}

button.generator-btn {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 128px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
}

@media screen and (min-width: 960px) and (min-device-width: 960px) {
    body {
        width: 900px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    div.puzzle-image {
        float: left;
        width: 410px;
        height: 410px;
        margin-right: 50px;
    }
    
    button.generator-btn {
        padding: 15px 350px;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

div.cell-empty {

}

div.puzzle-panel div.puzzle-row div.puzzle-cell.cell-movable {
    border: solid 2px limegreen;
    margin: -1px;
}
div.puzzle-panel div.puzzle-row div.puzzle-cell.cell-unmovable {
    border: solid 2px red;
    margin: -1px;
}

div.cell-0-0 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 0% 0%;
    cursor:pointer;
}
div.cell-0-1 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 33% 0%;
    cursor:pointer;
}
div.cell-0-2 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 66% 0%;
    cursor:pointer;
}
div.cell-0-3 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 100% 0%;
    cursor:pointer;
}
div.cell-1-0 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 0% 33%;
    cursor:pointer;
}
div.cell-1-1 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 33% 33%;
    cursor:pointer;
}
div.cell-1-2 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 66% 33%;
    cursor:pointer;
}
div.cell-1-3 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 100% 33%;
    cursor:pointer;
}
div.cell-2-0 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 0% 66%;
    cursor:pointer;
}
div.cell-2-1 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 33% 66%;
    cursor:pointer;
}
div.cell-2-2 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 66% 66%;
    cursor:pointer;
}
div.cell-2-3 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 100% 66%;
    cursor:pointer;
}
div.cell-3-0 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 0% 100%;
    cursor:pointer;
}
div.cell-3-1 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 33% 100%;
    cursor:pointer;
}
div.cell-3-2 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 66% 100%;
    cursor:pointer;
}
div.cell-3-3 {
    background-image: url("img/panda.jpg") ;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 100% 100%;
    cursor:pointer;
}